<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FracTracker Petrochem Portal</title>
    <style>
        .central {

        }
    </style>
</head>
<body>
    <div class="central" style="justify-items:center">
        <h2>Thank you for visiting our data portal!</h2>
        <h2><a href = "https://docs.google.com/forms/d/e/1FAIpQLSdsAzpImZGY_Ex6Uazi0cLHn1q8HRUdbleUUE_69wAdeyssLA/viewform?usp=header">Report an outage</a></h2>
        <h4>Please check out our other resources at:<a href="https://www.fractracker.org"></h4>
        <img class="header-image" style="height: 60px;" src="/static/images/fta.png">
</body>